.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 937px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
  }
}

.backBtnWrapper {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
