.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profileImg {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
}

.name {
  color: black;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.36px;
}

.id {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 400;
}
.email {
  color: #666666;
  font-size: 12px;
  font-weight: 600;
  margin-top: 4px;
}
