.main {
  align-self: stretch;
}

.menuButton {
  all: unset;
  display: flex;
  height: 44px;
  padding: 0 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}

.menuButton img {
  width: 24px;
  height: 24px;
}

.active {
  color: white;
  border-radius: 10px;
  background: #000;
}
