.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  flex: 1;
}

.title {
  padding-bottom: 1rem;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
