.main {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 40px;
  padding: 0 16px;
  border-radius: 40px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  align-self: stretch;
  white-space: nowrap;
}

.main img {
  height: 24px;
  width: 24px;
}

.PLAIN:hover {
  background: rgba(2, 2, 2, 0.05);
}

.PLAIN:active {
  background: rgba(2, 2, 2, 0.12);
}

.OUTLINED {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.OUTLINED:hover:enabled {
  border: 1px solid black;
}

.OUTLINED:active:enabled {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #dddddd;
}

.BLACK {
  background-color: #000;
  color: white;
}

.BLACK:hover:enabled {
  background-color: #313131;
}

.WHITE {
  background-color: white;
}

.WHITE:hover:enabled {
  background-color: #8d8d8d;
}

.WHITE:active:enabled {
  background-color: #5c5c5c;
}

.selected {
  background: rgba(2, 2, 2, 0.08);
}

.disabled {
  opacity: 0.5;
}
