.main {
  display: flex;
  padding: 20px 16px;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.top {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.feedbackDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.feedbackDetails img {
  width: 20px;
  height: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.profile img {
  width: 24px;
  height: 24px;
  object-fit: center;
  border-radius: 50%;
}

.title {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2px;
}

.name {
  display: block;
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-weight: 700;
  white-space: pre-wrap;
  line-height: 15px;
}

.date {
  color: #999;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

.selected {
  background: #f3f3f3;
}
