.dropdown {
  position: relative;
  color: var(--Greys-Pitch-Black, #000);
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 6px 12px;
  cursor: pointer;
  height: 40px;
  gap: 6px;
}

.optionIcon {
  width: 24px;
  height: 24px;
}

.option {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdownMenu {
  min-width: 100%;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  padding: 10px 0 12px 0;
  margin-top: 8px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
    0 20px 20px -20px rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.dropDownItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 6px;
  cursor: pointer;
  white-space: nowrap;
}

.downArrow {
  width: 16px;
  height: 16px;
}

.dropDownItem:hover {
  background: rgba(0, 0, 0, 0.05);
}

.dropDownItem:active {
  background: rgba(0, 0, 0, 0.1);
}
