.main {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 10px 4px -10px rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100%;
}

.menuWrapper {
  width: 100%;
}

.sectionWrapper {
}

.sectionWrapper::-webkit-scrollbar {
  width: 8px;
}

.sectionWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.sectionWrapper::-webkit-scrollbar-thumb {
  background: #b3aeae;
  border-radius: 8px;
}

.sectionWrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 936px) {
  .main {
    grid-template-columns: 1fr;
  }
  .main {
    height: auto;
    padding-bottom: 2rem;
  }
}
