.main {
  padding: 30px 30px 50px 30px;
  flex: 1;
}

.sectionTitle {
  display: block;
  color: #000;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.48px;
  padding-bottom: 10px;
}

.heading {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.reportDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.reportDetails img {
  width: 20px;
  height: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.profile img {
  width: 24px;
  height: 24px;
  object-fit: center;
  border-radius: 50%;
}

.title {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
}

.name {
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.22px;
}

.btnsWrapper {
  display: flex;
  gap: 10px;
}
