.wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  min-height: 800px;
  padding: 20px 86px 55px 86px;
}

@media (max-width: 936px) {
  .contentWrapper {
    padding: 20px 20px 33px 20px;
    min-height: auto;
  }
}
