.main {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  padding: 16px;
  align-self: stretch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.orderUsers {
  display: flex;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

.profilePics {
  display: flex;
  align-items: center;
}

.providerImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  border: 4px solid white;
  z-index: 5;
}

.clientImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  left: -8px;
  z-index: 1;
}

.names {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.providerName {
  padding-right: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.clientName {
  padding-left: 5px;
}

.startDate {
  color: #555;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  margin-top: 2px;
}

.endDate {
  color: #555;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  margin-top: 2px;
}

.orderStatus {
  color: black;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 936px) {
  .main {
    flex-direction: column;
    align-items: start;
  }
}
