.main {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 0.8rem;
}

.main input {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.main button {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.error {
  color: brown;
}
