.paginateWrapper {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.05);
  height: 36px;
  color: #666;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  margin-top: 30px;
  position: relative;
}

.pageBtn {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageLink {
  height: 36px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.activePage {
  border-radius: 12px;
  background: #333;
  height: 40px;
  color: white;
}

.nextPageBtn {
  position: absolute;
  right: -42px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.06);
  background-image: url("../assets/images/arrow-right.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextLink {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.prevPageBtn {
  position: absolute;
  left: -42px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.06);
  background-image: url("../assets/images/arrow-left.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevLink {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.break {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
