.main {
  display: flex;
  height: 40px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.JUSTIFY-CENTER {
  justify-content: center;
}

.JUSTIFY-START {
  justify-content: flex-start;
}

.active {
  background: rgba(2, 2, 2, 0.08);
}

.main:hover {
  background: rgba(2, 2, 2, 0.05);
}

.main:active {
  background: rgba(2, 2, 2, 0.12);
}
