.main {
  display: flex;
  height: 40px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 0 2px;
}

.JUSTIFY-CENTER {
  justify-content: center;
}

.JUSTIFY-START {
  justify-content: flex-start;
}

.active {
  background: rgba(2, 2, 2, 0.08);
}

.main:hover {
  background: rgba(2, 2, 2, 0.05);
}

.main:active {
  background: rgba(2, 2, 2, 0.12);
}

.attention {
  background: #ffe3c2;
  color: #8a3d00;
}

.attention:hover {
  background: #ffd4a3;
}

.attention:active {
  background: #ffc689;
}
