.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingLeftSide {
  display: flex;
}

@media (max-width: 936px) {
  .headingLeftSide {
    margin: auto;
  }

  .main {
    flex-direction: column;
    gap: 20px;
    align-items: normal;
  }
}
